{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
     <title>OpenChat</title>
</head>
<style>
    
     #list1 .form-control {
          border-color: transparent;
        }
        #list1 .form-control:focus {
          border-color: transparent;
          box-shadow: none;
        }
        #list1 .select-input.form-control[readonly]:not([disabled]) {
          background-color: #fbfbfb;
        }
     
</style>
<body>
     <div class="container">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success mt-4" role="alert">
               {{ message }}
             </div>
          {% endfor %}
     {% endif %}
     {% block content %}

     {% endblock %}
     </div>
     
    
     <script src="{% static 'bootstrap/css/bootstrap.min.js' %}"></script>
</body>
</html>